<mat-table [dataSource]="categories">
  <!-- Category Column -->
  <ng-container matColumnDef="Category">
    <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
    <mat-cell *matCellDef="let category"> {{ category.name }} </mat-cell>
    <!-- Assuming name is a property of Category -->
  </ng-container>

  <!-- Minimum Value Column -->
  <ng-container matColumnDef="Minimum value">
    <mat-header-cell *matHeaderCellDef> Minimum Value </mat-header-cell>
    <mat-cell *matCellDef="let category"> {{ category.minValue }} </mat-cell>
    <!-- Assuming minValue is a property of Category -->
  </ng-container>

  <!-- Maximum Value Column -->
  <ng-container matColumnDef="Maximum value">
    <mat-header-cell *matHeaderCellDef> Maximum Value </mat-header-cell>
    <mat-cell *matCellDef="let category"> {{ category.maxValue }} </mat-cell>
    <!-- Assuming maxValue is a property of Category -->
  </ng-container>

  <!-- Maximum Value Column -->
  <ng-container matColumnDef="Current value">
    <mat-header-cell *matHeaderCellDef> Current Value </mat-header-cell>
    <mat-cell *matCellDef="let category">
      {{ category.current_value }}
    </mat-cell>
    <!-- Assuming maxValue is a property of Category -->
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let category">
      <button mat-icon-button (click)="modifyCategory(category._id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="deleteCategory(category._id, category.name)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<button mat-raised-button (click)="addCategory()">Add Category</button>
