<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="start center">
  <button mat-icon-button (click)="toggleSidenav()" fxShow="true" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Cost-Tracker</span>
  <div
    *ngIf="user; else guestLinks"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxFlex
  >
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="">
      <a
        mat-button
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
       
      >
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a
        mat-button
        [routerLink]="['/dynamic_categories']"
        routerLinkActive="active"
       
      >
        <mat-icon>category</mat-icon>
        Dynamic categories
      </a>
      <a
        mat-button
        [routerLink]="['/reports']"
        routerLinkActive="active"
       
      >
        <mat-icon>assignment</mat-icon>
        Monthly reports
      </a>
      <a
        mat-button
        [routerLink]="['/alerts']"
        routerLinkActive="active"
       
      >
        <mat-icon>notifications</mat-icon>
        Custom alerts
      </a>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <a mat-button (click)="logOut()" fxShow fxHide.lt-md>
        <mat-icon>exit_to_app</mat-icon>
        LogOut
      </a>
    </div>
  </div>
  <ng-template #guestLinks>
    <div fxLayout="row" fxLayoutAlign="end center">
      <div *ngIf="!isLoginPage">
        <a mat-button [routerLink]="['/auth/login']" routerLinkActive="active">
          <mat-icon>login</mat-icon>
          Login
        </a>
      </div>
      <div *ngIf="isLoginPage">
        <a
          mat-button
          [routerLink]="['/auth/register']"
          routerLinkActive="active"
        >
          <mat-icon>person_add</mat-icon>
          Register
        </a>
      </div>
    </div>
  </ng-template>
</mat-toolbar>

<!-- <mat-drawer-container  class="">
  <mat-sidenav #sidenav mode="push" fixedInViewport="true"  hasBackdrop="true">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a
        mat-list-item
        [routerLink]="['/dynamic_categories']"
        routerLinkActive="active"
      >
        <mat-icon>category</mat-icon>
        Dynamic categories
      </a>
      <a mat-list-item [routerLink]="['/reports']" routerLinkActive="active">
        <mat-icon>assignment</mat-icon>
        Monthly reports
      </a>
      <a mat-list-item [routerLink]="['/alerts']" routerLinkActive="active">
        <mat-icon>notifications</mat-icon>¡
        Custom alerts
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-drawer-container> -->
