<mat-card
  ><div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center center">
    <div
      fxFlex="100"
      fxFlex.lt-md="100"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="16px"
      fxLayoutAlign="center center"
      style="padding: 160px; padding-bottom: 16px"
    >
      <app-categories-pie-chart
        [categoriesReports]="categoriesReports"
      ></app-categories-pie-chart>
      <div style="width: 100%; text-align: center">
        <app-alerts-reports [useCurrentDate]="true"></app-alerts-reports>
      </div>
    </div>
    <div fxFlex="80" fxFlex.lt-md="80" style="padding: 80px">
      <app-overview-reports [useCurrentDate]="true"></app-overview-reports>
    </div>
  </div>
</mat-card>
<!-- <app-overview-reports *ngIf="overviewReports"></app-overview-reports> -->
