@import "/src/styles.scss";

.reports-container {
  display: flex;
  align-items: center;
  justify-content: center;
  //   margin-bottom: 16px;
}

.form-inline {
  display: flex;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
}

.separator {
  margin: 0 8px;
}
