/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* SCSS HEX */
$bice-blue: #386fa4ff;
$ucla-blue: #3e73a5ff;
$steel-blue: #507ca5ff;
$silver: #6788a6ff;
$cadet-gray: #7e94a7ff;
$cadet-gray-2: #95a0a7ff;
$silver-2: #c3c2bdff;
$almond: #f1e3d3ff;
$dark-blue: #003364;
$light-blue: #a1c1df;

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-footer {
  margin-top: auto;
}

mat-card {
  padding: 50px;
  margin: 50px;
}

mat-form-field {
  width: 85%;
  margin: auto;
  padding: 20px;
}

mat-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 5px 15px $light-blue;
}

mat-row,
mat-header-row {
  display: flex;
  border: solid 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

mat-cell,
mat-header-cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: solid 1px;
}

.container {
  padding: 10px;
  margin: 10px;
}

.toolbar {
  background-color: $bice-blue;
  color: white;
}

.dynamic-categories-container ::ng-deep .mat-tab-label.mat-tab-label-active {
  color: black;
}

.prim-button {
  background-color: $bice-blue;
  color: white;
  margin: 5px;
}

.sec-button {
  background-color: $steel-blue;
  margin: 5px;
  color: white;
}

.add-btn {
  background-color: $light-blue;
  color: white;
}

.export-btn {
  background-color: $dark-blue;
  color: white;
}

.report {
  padding: 75px;
}

.empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin: 16px;
  background-color: #ffeeba;
  border: 1px solid #ffc107;
  border-radius: 4px;
  position: relative;
}

.warning-icon {
  // margin-right: 16px;
  padding: 50px;
  color: #ffc107;
}

.message-details {
  text-align: center;
}

.message-details h4 {
  font-weight: bold;
  margin-bottom: 8px;
}

.message-details p {
  margin: 0;
}

.go-back-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
}

.wide-column {
  width: 300px !important;
}

// .scrollable-cell {
//   max-width: 300px;
//   max-height: 300px;
//   overflow-x: auto;
//   // overflow-y: auto;
// }
